[run]
source = src
omit =
    src/display/living_world/*
    src/simulator/*

[report]
show_missing = true
skip_covered = false
precision = 1
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    raise NotImplementedError
